/assignment1/2ID90-Group-NN/nbproject/private/
/assignment1/AICompetition/nbproject/private/
/assignment1/2ID90-Group-NN/build/
/assignment1/2ID90-Group-NN/dist/
/assignment1/2ID90-Group-08/nbproject/private/
/assignment1/2ID90-Group-08/build/
/assignment1/AICompetition/build/
/assignment1/AICompetition/dist/
/assignment1/2ID90-Group-08/dist/
/assignment3/build/
/assignment3/dist/